%h1 Welcome to the HiVE internal site
- cache do
  %div.content
    - HomeContent.all.reverse_order.each do |post|
      %div.post
        %h3
          = post.title
        = raw prepare_text(post.content)
