%h1 Welcome to the HiVE internal site

%div{ style: 'width:300px;margin:auto' }
  = link_to 'Browse Organizations', organizations_path, class: 'btn btn-default center-block'
  = link_to 'Sign In', new_session_path, class: 'btn btn-default center-block'

  %h4 Remember
  %ul
    %li Email: admin@admin.com
    %li Password: password

  %h4 Still Todo:
  %ul
    %li Testing
    %li Security Measures
    %li Users inherit supplies through an organization
    %li Account switching: set you up as the manager for the hosting, file browsing, email sender and analytics.

  %h4 Feature options:
  %ul
    %li Nicer format for browsing organizations?
    %li Add some user editable content on the front page?
    %li Reporting section: Do you have frequent reports you need to pull? New users this month? Charts? Total number of keys? stuff like that.
    %li Dashboard section: Do you like the notes here? What else would be useful front and center?
    %li File browsing section: Do you want an area to upload files? The infrastructure is already in place to allow user uploads of avatars and service agreements, so we could put in an area to browse all of these.
    %li Did you want contracts for users to be uploaded as well?
    %li Time sheets: Replace your paper sign in with a virtual time sheet? Users sign in and then click start on their time sheets?
    %li Ability to send emails from the app or would you like to be able to download all contact info?