%h1 Welcome to the HiVE internal site

%div{ style: 'width:300px;margin:auto' }
  = link_to 'Browse Organizations', organizations_path, class: 'btn btn-default center-block'
  = link_to 'Sign In', new_session_path, class: 'btn btn-default center-block'