%h1 Welcome to the HiVE internal site
- cache(HomeContent.cache_key(params)) do
  %div.content
    - HomeContent.all.reverse_order.each do |post|
      %div.post
        %h3
          = post.title
        = raw post.content.to_html
