- cache set_keys([HomeContent]) do
  %h1 Welcome to the HiVE internal site
  %div.content
    - HomeContent.all.reverse_order.each do |post|
      %div.post
        %h3
          = post.title
        = raw post.content.to_html
