= render 'admin/shared/edit',  title: 'Administrators',
                              main: ['Administrators', :admin_admins_path],
                              edit: 'Edit Administrator',
                              form_location: 'admin/admins/form',
                              form_variable: @admin,
                              form_url: :admin_admins_path,
                              form_method: :put

-# title = title
-# main = [mainlink, main_link_path]
-# edit = edit title
-# form_location = render path
-# form_variable = form variable
-# form_url = form_path
-# form_method = ie: :post