%div.container-fluid
  %div.col-md-2.sidebar
    = render 'admin/shared/sidebar', active: 'Administrators'
  %div.col-md-10
    %h1 Administrators

    = render 'admin/shared/table',  data: @admins,
                                    header: %w"Name Email Actions",
                                    methods: [[:user, :name], [:user, :email]],
                                    links: [['delete', :admin_admins_path, method: :delete]]