= render 'admin/shared/new',  title: 'Administrators',
                              main: ['Administrators', :admin_admins_path],
                              new: ['New Administrator', :new_admin_admin_path],
                              form_location: 'admin/admins/form',
                              form_variable: @admin,
                              form_url: :admin_admins_path,
                              form_method: :post

-# title = title
-# main = [mainlink, main_link_path]
-# new = ['new', new_path]
-# form_location = render path
-# form_variable = form variable
-# form_url = form_path
-# form_method = ie: :post
