= render 'admin/shared/edit',   title: 'Organizations',
                                main: ['Organizations', :admin_organizations_path],
                                edit: @organization.name,
                                new: ['New Organization', :new_admin_organization_path],
                                form_location: 'admin/organizations/form',
                                form_variable: @organization,
                                form_url: :admin_organization_path,
                                form_method: :put

-# title = title
-# main = [mainlink, main_link_path]
-# edit = edit title
-# form_location = render path
-# form_variable = form variable
-# form_url = form_path
-# form_method = ie: :post