%div.container-fluid
  %div.col-md-2.sidebar
    = render 'admin/sidebar', active: 'organizations'
  %div.col-md-10
    %h1 Organizations
    %ul.nav.nav-tabs
      %li{ role: 'presentation' }
        = link_to 'Organizations', admin_organizations_path
      %li.active{ role: 'presentation' }
        = link_to 'Edit Organization', '#'

    = render 'admin/organizations/form', organization: @organization, url: admin_organization_path(@organization), method: :put
