= render 'admin/shared/index',  data: @organizations,
                                header: %w"Name Active Agreement Employees Description Tags Actions",
                                methods: [['Link', :name, :edit_admin_organization_path], :active, :agreement,
                                         ['Double', :users,:count], :description_short, :pretty_tags],
                                links: [ ['edit', :edit_admin_organization_path],
                                       ['delete', :admin_organization_path, method: :delete, data: { confirm: 'This will delete the record in the database permanently.' } ] ],
                                new: ['New Organization', :new_admin_organization_path],
                                main: ['Organizations', :admin_organizations_path],
                                title: 'Organizations',
                                search_location: false


-# data = variable
-# header = array table headers
-# methods = array of table methods
-# links = array of table links
-# new = array with ['link', new_something_path]
-# main = array with ['link', somethings_path]
-# title = title