- cache set_keys([Supply, @supply], params) do
  %div.container-fluid
    %div.col-md-2.sidebar.hidden-sm.hidden-xs
      = render 'admin/shared/sidebar', active: 'Supplies'
    %div.col-md-10.shad-left
      %h1 Supplies
      - cache set_keys([Supply], params) do
        = render 'admin/supplies/tabs', all: '', new: ''

      %br
      %div.row
        %div.col-md-3
          - cache set_keys([@supply]) do
            = render 'admin/supplies/form', supply:  @supply, url: admin_supply_path(@supply), method: :put
        %div.col-md-9
          - cache [set_keys([@supply], params), 'list'] do
            = render '/admin/supplies/list', supply: @supply, url: admin_supply_path(@supply), method: :put
:javascript
  $.ajax({
    url:      "/admin/supplies/list_form.html",
    method:   'get',
    dataType: "html",
    success: function (data) {
      $(".addForm").each( function(i,obj) {
        $(obj).html(data)
      })
    }
  });
