%div.container-fluid
  %div.col-md-2.sidebar.hidden-sm.hidden-xs
    = render 'admin/shared/sidebar', active: 'Supplies'
  %div.col-md-10.shad-left
    %h1 Supplies
    = render 'admin/supplies/tabs', all: '', new: ''

    %br
    = render 'admin/supplies/form', variable:  @supply, url: admin_supply_path(@supply), method: :put