= render 'admin/shared/edit',  title: 'Supplies',
                              main: ['Supplies', :admin_supplies_path],
                              edit: 'Edit Supplies',
                              form_location: 'admin/supplies/form',
                              form_variable: @supply,
                              form_url: :admin_supply_path,
                              form_method: :put

-# title = title
-# main = [mainlink, main_link_path]
-# edit = edit title
-# form_location = render path
-# form_variable = form variable
-# form_url = form_path
-# form_method = ie: :post