= render 'admin/shared/index',  data: @supplies,
                                header: %w"Name Category Maximum Current Notes Actions",
                                methods: [:name, :category, :maximum, [:supply_lists, :count], :notes],
                                links: [ ['edit', :edit_admin_supply_path], ['delete', :admin_supply_path, method: :delete] ],
                                new: ['New Supplies', :new_admin_supply_path],
                                main: ['Supplies', :admin_supplies_path],
                                title: 'Supplies'


-# data = variable
-# header = array table headers
-# methods = array of table methods
-# links = array of table links
-# new = array with ['link', new_something_path]
-# main = array with ['link', somethings_path]
-# title = title