- cache set_keys([Supply], params) do
  %div.container-fluid
    %div.col-md-2.sidebar.hidden-sm.hidden-xs
      = render 'admin/shared/sidebar', active: 'Supplies'
    %div.col-md-10.shad-left
      %h1 Supplies
      - cache set_keys([Supply], params) do
        = render 'admin/supplies/tabs', all: '', new: ''

      %div.row
        %div.col-md-3
          = render 'admin/supplies/form', supply: @supply, url: admin_supplies_path, method: :post
