@import "bootstrap-sprockets";
.sidebar { height: 100%; background-color: whitesmoke; padding-bottom: 200px; }
.inside-sidebar { position: fixed }
.shad-box { }
.shad-left {  -webkit-box-shadow: -2px 0px 10px -2px #888;  }
.container-fluid { width: 100%; margin: 0; padding: 0 !important; }
.navbar { margin: 0 !important; z-index: 999; }
.short-form { display: inline-block; max-width: 160px; float: left }
.form { max-width: 400px; margin: auto; }
.sign_in { width: 250px; margin: auto; margin-top: 6em; }
.content { padding: 15px; max-width: 800px; margin: auto; }
.avatar { width: 250px; height: 250px; overflow: auto; }
.float-right { float: right }
.message { position: fixed; right: 25px; bottom: 15px; text-align: center; margin: auto !important; width: 300px; z-index: 999; }
.alert-alert { @extend .alert-danger; }
.alert-notice { @extend .alert-success; }
.select2-container { height: 180px !important; }
hr { margin-top: 3em !important; margin-bottom: 3em !important; }
h1 { text-align: center; }
html, body, .container-fluid, { height: 100%; }
@import "bootstrap";
