%h1 Edit Organization
%div.form
  = form_for @organization do |f|
    = f.text_field :name, placeholder: 'name', class: 'form-control'
    = f.text_area :description, placeholder: 'name', class: 'form-control'