%div.content
  %h1 All Organizations
  - @organizations.each do |org|
    %h3
      = org.name
    %p
      = org.description
    %br
      - if editable?(org)
        = link_to 'edit organization', edit_organization_path(org)
    %hr