= render 'admin/shared/index',  data: @users,
                                header: %w"Name Active Email Phone Account-Type Desk Actions",
                                methods: [['Link', :name, :edit_admin_user_path], :active, :email, :phone, :account_type, :desk],
                                links: [ ['edit', :edit_admin_user_path],
                                         ['delete', :admin_user_path, method: :delete, data: { confirm: 'This will delete the record in the database permanently.' }] ],
                                new: ['New User', :new_admin_user_path],
                                main: ['Users', :admin_users_path],
                                title: 'Users',
                                model: User,
                                search_location: '/admin/shared/search_active'


-# data = variable
-# header = array table headers
-# methods = array of table methods
-# links = array of table links
-# new = array with ['link', new_something_path]
-# main = array with ['link', somethings_path]
-# title = title