= render 'admin/shared/new',  title: 'Users',
                              main: ['Users', :admin_users_path],
                              new: ['New User', :new_admin_user_path],
                              form_location: 'admin/users/form',
                              form_variable: @user,
                              form_url: :admin_users_path,
                              form_method: :post

-# title = title
-# main = [mainlink, main_link_path]
-# new = ['new', new_path]
-# form_location = render path
-# form_variable = form variable
-# form_url = form_path
-# form_method = ie: :post