= form_tag '#', method: :get, enforce_utf8: false do
  = text_field_tag :search, params[:search], class: 'form-control short-form'
  = submit_tag 'Search', name: nil, class: 'btn btn-default short-form'